@mixin dflex-jcsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin dflex-aic {
    display: flex;
    align-items: center;
    gap: 10px;
}

@mixin dflex-jcsa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin df-jcc-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}